!!!
%html{:lang => "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %title Nuxos Asia - Welcome To Our Office

    = javascript_include_tag  "all"
    = javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"

    = stylesheet_link_tag "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat:400,700"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Kaushan+Script"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"

    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    / [if lt IE 9]
    %script{src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    %script{src: "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}

  %body#page-top.index
    / Navigation
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type:  "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.page-scroll{:href => "#page-top"}
            = image_tag "logos/brand-invert.png"
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.hidden
              %a{:href => "#page-top"}
            %li
              %a.page-scroll{:href => "#services"} Services
            %li
              %a.page-scroll{:href => "#portfolio"} Portfolio
            %li
              %a.page-scroll{:href => "#team"} Team
            %li
              %a.page-scroll{:href => "#contact"} Contact

    = yield

    %footer
      .container
        .row
          .col-md-4
            %a.navbar-brand.page-scroll{:href => "#page-top"}
              = image_tag "logos/brand.png"
          .col-md-4
          .col-md-4
            %span.copyright Copyright &copy; Nuxos Asia 2014
    = javascript_include_tag "cbpAnimatedHeader"