#accordion.panel-group
  .panel.panel-default
    .panel-heading{'data-parent': '#accordion', 'data-target': '#collapseOne', 'data-toggle': 'collapse'}
      %h4.panel-title= t('sections.job_page.jobs.rails_dev.title')

    #collapseOne.panel-collapse.collapse.in
      .panel-body
        %dl.dl-horizontal
          %dt= t('sections.job_page.jobs.main_experience')
          %dd
            %ul
              - t('sections.job_page.jobs.rails_dev.main_exp').each do |list|
                %li= list
          %br
          %dt= t('sections.job_page.jobs.additional')
          %dd
            %ul
              - t('sections.job_page.jobs.rails_dev.addition').each do |list|
                %li= list
          %br
          %dt= t('sections.job_page.jobs.benefits')
          %dd
            %ul
              - t('sections.job_page.jobs.rails_dev.benefits').each do |list|
                %li= list
