%section#job-intro
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading
          %strong= t('sections.job_page.title')
        %h3.section-subheading.text-muted= t('sections.job_page.sub_title')


%section#job-details
  .container
    .row
      .col-sm-8
        = partial 'jobs_description'

      .col-sm-4
        .sidebar
          %h3
            %strong= t('sections.job_page.jobs.caption.title')
            = t('sections.job_page.jobs.caption.sub_title')

          .spacer
          - t('sections.job_page.jobs.caption.content').each do |msg|
            %p= msg

          .spacer
          %a.btn.btn-primary{:href => "mailto:#{data.site.job_email}"}
            = t('sections.job_page.jobs.caption.submit')
            %i.fa.fa-file-text-o
