!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : 'Nuxos Asia'
    = csrf_meta_tags
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag "favicon.ico", :rel => "shortcut icon"

    %link{ :href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css" }
    /[if lt IE 9]
      = javascript_include_tag "//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
      = javascript_include_tag "//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"

  %body
    %body#page-top.index
    / Navigation
    %nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.page-scroll{:href => "#page-top"} Start Bootstrap
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.hidden
              %a{:href => "#page-top"}
            %li
              %a.page-scroll{:href => "#services"} Services
            %li
              %a.page-scroll{:href => "#portfolio"} Portfolio
            %li
              %a.page-scroll{:href => "#about"} About
            %li
              %a.page-scroll{:href => "#team"} Team
            %li
              %a.page-scroll{:href => "#contact"} Contact
    = yield
    %footer
      .container
        .row
          .col-md-4
            %span.copyright Copyright &copy; Your Website 2014
          .col-md-4
            %ul.list-inline.social-buttons
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
          .col-md-4
            %ul.list-inline.quicklinks
              %li
                %a{:href => "#"} Privacy Policy
              %li
                %a{:href => "#"} Terms of Use
